.add-button {
  background-color: #FAFAFA;
  border-radius: 100px;
}

.add-button:hover {
  -webkit-filter: brightness(97%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.add-text {
  color: #ed5269;
  font-size: 13px;
  margin-left: 5px;
  font-weight: bold;
}
