.sidebar-container {
  background-color: #FAFAFA;
  height: 100vh;
  width: 200px;
  padding-left: 10px;
  padding-top: 10px;
}

.active {
  background-color: #FAFAFA;
}

.item-title {
  color: #000;
  font-size: 14px;
}

.calendar-icon-container {
  position: relative;
  bottom: 2px;
}

.calendar-date {
  position: absolute;
  right: 2px;
  top: 8px;
  font-size: 10px;
  font-weight: bold;
  color: #006729
}

.item-container {
  width: 100%;
  padding: 5px;
  padding-left: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  -o-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}

.item-container:hover {
  background-color: #FFF;
  cursor: pointer;
}

.bagde-number {
  font-size: 11px;
  font-weight: bold;
  color: rgba(0,0,0,0.3);
  margin-left: 5px;
}
